#audiovisivamente__analogie {
    padding-bottom: 100px;
    // .carouselBtnFold  {
    //     color: #000;
    // }
}

@keyframes audiovisivamente_title_animation {
    from {
        opacity: 0;
        transform: translateX(-300px) translateY(0);
        letter-spacing: 0.2em;
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(-15px);
        letter-spacing: -0.02em;
    }
}
@keyframes audiovisivamente_title_animation_small_view {
    from {
        opacity: 0;
        transform: translateY(0) translateX(0) scale(1.7);
        letter-spacing: 0.1em;
    }
    to {
        opacity: 1;
        transform: translateY(-45px) translateX(0) scale(1);
        letter-spacing: 0.06em;
    }
}

@media (max-width: 900px) { 
  #audiovisivamente__analogie {
    padding: 15px;
  }
}