#audiovisivamente__home {
  overflow-x: hidden;
  padding: 0px !important;
  .heroAudio {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    height: calc(100dvh - 90px);
    overflow: hidden;
    padding: 30px;
    width: 100%;
  }


  /* SECTION BASE */
  .section {
    position: relative;
    background: #c9c3a6;
    padding: 120px 24px;
    z-index: 2;
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;
  }


  @media screen and (max-width: 800px) {
    .heroAudio {
      height: 100dvh;
      padding: 20px 5px !important;
    }
  }
}

@media (max-width: 900px) { 
  #audiovisivamente__home {
    padding: 15px;
  }
  .preschoolFlipBookWrap .preschoolBook .pageTitDesc .home_description:first-child::before {
    font-size: 4em;
    top: -10px;
    left: -26px;
  }
}

