.page {
    box-sizing: border-box;
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    flex: 1;
    .tempFolder{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}