* {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background-color: --page-primary-backgroung;
}

