
@font-face {
	font-family: 'Ledger';
	src: url('../fonts/ledger/Ledger-Regular.ttf');
}
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}
@font-face {
	font-family: 'Prata';
	src: url('../fonts/Prata/Prata-Regular.ttf');
}
@font-face {
	font-family: 'Bison';
	src: url('../fonts/Bison/Bison-Bold.ttf');
}
@font-face {
	font-family: 'September Script';
	src: url('../fonts/September_script/september-script.regular.ttf');
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Regular.ttf');
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
}
.font-ledger {
	font-family: 'Ledger' !important;
}
.font-bebas-neue {
	font-family: 'Bebas Neue' !important;
}
.font-prata {
	font-family: 'Prata' !important;
}
.font-bison {
	font-family: 'Bison' !important;
}
.font-september-script {
	font-family: 'September Script' !important;
}
.font-playfair-display {
	font-family: 'Playfair Display' !important;
}
.font-inter {
	font-family: 'Inter' !important;
}
.font-merriweather {
	font-family: 'Merriweather' !important;
}